# Ignore Python virtual environment
.venv/

# Ignore Python Build Folder
build/
dist/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore PyInstaller spec if you don’t want it
main.spec

change_log.txt
